{
  "env": {
    "development": {
      "presets": [
        "./node_modules/babel-preset-es2015"
      ]
    },
    "test": {
      "presets": [
        "./node_modules/babel-preset-es2015"
      ]
    }
  }
}
