{
  extends: [
    "standard",
  ],
  rules: {
    "comma-dangle": [2, "always-multiline"]
  },
  parserOptions: {
    ecmaVersion: 6,
    sourceType: "module",
  },
  plugins: [
    "standard",
  ]
}

